include include/layout
block content
    h1 Hello Yose
    ul
        li
            a#ping-challenge-link(href="ping") Ping
        li
            a#prime-factors-decomposition-link(href="primeFactors/ui") Decomposition
        li
            a#minesweeper-link(href="minesweeper") Minesweeper
        li
            a#repository-link(href="https://bitbucket.org/couillardcharles/yose") Code
            | &nbsp;
            a#repository-link(href="https://bitbucket.org/couillardcharles/yose-api") Api Code
        li
            a#contact-me-link(href="https://twitter.com/charlesco") Twitter