include include/layout
block content
    h1#title Minesweeper
    #grid(ng-app="minesweeper", ng-controller="MineController")
        input#suspect-mode(type="checkbox", ng-model="suspect")
        | Suspect mode
        div(ng-repeat="line in grid track by $index", class="row")
            div(ng-repeat="cell in line track by $index" id="cell-{{$parent.$index+1}}x{{$index+1}}",
                ng-click="reveal($parent.$index, $index)",
                ng-class="{lost: (!cell.suspect && cell.open && cell.bomb), safe: (cell.open && !cell.bomb), suspect: cell.suspect}",
                class="cell")
                | {{cell.text}}
    script(type="text/javascript").
        function load() {
            angular.element('#grid').scope().load();
        }

