include include/layout
block content
    div(ng-app="primefactors", ng-controller="PrimeFactorsController")
        h1#title Prime Factors
        label#invitation(for="number") Enter a number :
        input#number(placeholder="number", name="number", ng-model="number")
        button#go(ng-click="decompose()") Go
        #result(ng-bind="result")
        ol#results
            li(ng-repeat="result in results", ng-bind="result")
