.row
  clear both

.cell
  float left
  width 30px
  height 30px
  text-align center
  border 1px solid grey
  background-color #D1D1D1

  &.safe
    background-color white
  &.lost
    background-color red