!!!5
html
    head
        title Yose
        meta(charset='utf-8')
        != nap.css('all')
    body
        block content
        script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
        script(src="//code.jquery.com/jquery-2.1.0.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-resource.min.js")
        != nap.js("base")